<!-- begin: leftbar -->
<div class="leftbar__wrap">
    <!-- leftbar -->
    <ul class="leftbar scroll-vertical" id="side-menu">

        <li *ngFor="let item of fakeData" class="leftbar__item">
            <a routerLink="{{ item.path}}">
                <i class="{{ item.icons}}"></i>
                <p>{{ item.name}}</p>
            </a>
        </li>

        

        <li class="leftbar__title">Người dùng</li>

        <li class="leftbar__item">
            <a href="user.html">
                <i class="fas fa-book-open"></i>
                <p>Quản lý người dùng</p>
            </a>
        </li>
    </ul>
</div>
<!-- end: leftbar -->
