<!-- begin: content -->
<div class="main-content">
    <div class="page__title">
        <h4>QUẢN LÝ PHÒNG BAN</h4>
    </div>

    <section class="firts-section">
        <div class="training">
            <div class="table__card">
                <div class="manager__container" style="justify-content: space-between;">
                    <div class="add__btn">
                        <a class="btn btn--success" (click) ="showModalDepartment('create')"><i class="fa-solid fa-plus"></i>Thêm Phòng ban</a>
                    </div>
                    <div class="add__btn" >
                        <input #fileInput type="file" name="file " id="file" (change)="handleFileInput($event)" style="display: none">
                        <a (click)="fileInput.click()" class="btn btn--success" style="margin-right: 24px;"><i class="fa-solid fa-plus"></i>Import File</a>
                        <a class="btn btn--success" (click) ="exportDepartment()"><i class="fa-solid fa-plus"></i>Export File</a>
                    </div>
                </div>

                <div class="manager__container control-data">
                    <div class="select__data-lenght">
                        <label>Hiển thị 
                            <select class="form-control">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select> bản ghi
                        </label>
                    </div>

                    <div class="filter__data">
                        <label>Tìm kiếm:<input type="search" class="form-control" name="searchKeyWord" [(ngModel)]="searchKeyWord" (keyup)="searchDepartment()" placeholder="" aria-controls="DataTables_Table_0"></label>
                    </div>
                </div>

                <div class="manager__container table-data">
                    <table class="table table__data">
                        <thead>
                            <tr class="table__data-tr">
                                <th class="table__data-th obj__id" rowspan="1" colspan="1">Mã Phòng ban</th>
                                <th class="table__data-th obj__name" rowspan="1" colspan="1">Tên Phòng ban</th>
                                <th class="table__data-th obj__des" rowspan="1" colspan="1">Mô tả</th>
                                <th class="table__data-th obj__act" rowspan="1" colspan="1">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of fomartDataApi" class="table__data-tr">
                                <td class="table__data-td">{{item.DepartmentCode}}</td>
                                <td class="table__data-td">{{item.DepartmentName}}</td>
                                <td class="table__data-td">{{item.Descriptions}}</td>
                                <td class="table__data-td">
                                    <button class="edit__btn"  (click) ="editModalDepartment(item.Id)" style="background-color: transparent; border: none;"><i class="table__icon table__icon-edit fas fa-pen"></i></button>
                                    <a class="delete__btn"  (click) ="deleteDepartment(item.Id, item.DepartmentCode)"><i class="table__icon table__icon-delete fas fa-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- end: content -->

<!-- begin: modal -->
<div class="manager__modal">
    <!-- begin: modal-content -->
    <div class="manager__modal-content">
        <div class="manager__container modal__header">
            <div class="manager__modal-title">
                <h5>Nhập Thông Tin Phòng ban</h5>
            </div>

            <div class="manager__modal-close" (click) = "closeModalDepartment()">
                <i class="fas fa-times"></i>
            </div>
        </div>

        <div class="manager__container modal__body">
            <form class="form" action="#" >
                <ng-container *ngIf="modalType === 'create'; else updateContent">
                    <div class="form__item">
                        <label class="form__label">Mã Phòng ban</label>
                        <input type="text" class="form__input " name="DepartmentCode" required placeholder="" [(ngModel)]="DepartmentCode">
                    </div>
                    <div class="form__item">
                        <label class="form__label">Tên Phòng ban</label>
                        <input type="text" class="form__input form__input-name" name="DepartmentName" placeholder="Nhập tên Phòng ban" [(ngModel)]="DepartmentName">
                    </div>
                    <div class="form__item">
                        <label class="form__label">Mô tả</label>
                        <input type="text" class="form__input form__input-desc form__input--desc" name="Descriptions" placeholder="Nhập mô tả" [(ngModel)]="Descriptions">
                    </div>
                </ng-container>
                <ng-template #updateContent>
                    <div class="form__item">
                        <label class="form__label">Mã Phòng ban</label>
                        <input type="text" class="form__input " name="DepartmentCode" required placeholder="" [(ngModel)]="fomartDataApiId.DepartmentCode">
                    </div>
                    <div class="form__item">
                        <label class="form__label">Tên Phòng ban</label>
                        <input type="text" class="form__input form__input-name" name="DepartmentName" placeholder="Nhập tên Phòng ban" [(ngModel)]="fomartDataApiId.DepartmentName">
                    </div>
                    <div class="form__item">
                        <label class="form__label">Mô tả</label>
                        <input type="text" class="form__input form__input-desc form__input--desc" name="Descriptions" placeholder="Nhập mô tả" [(ngModel)]="fomartDataApiId.Descriptions">
                    </div>
                </ng-template>
                
                
                <button class="btn btn--primary btn--submit" type="submit" (click) ="submitForm()">
                    {{ modalType === 'create' ? 'Xác nhận' : 'Cập nhật' }}
                </button>
            </form>
            <input class="get-index" type="hidden" value="">
        </div>
    </div>
    <!-- end: modal-content --> 
</div>
<!-- end: modal -->

<!-- begin: alert-delete -->
<div class="manager__alert" >
    <div class="manager__alert-content" >
        <div class="manager__container modal__header">
            <div class="manager__modal-title">
                <h5>THÔNG BÁO</h5>
            </div>

            <div class="manager__modal-close" (click) ="closeConfirmDialog()">
                <i class="fas fa-times"></i>
            </div>
        </div>

        <ng-container *ngIf="modelTypeMessage === 'delete'; else deleteContent">
            <div class="manager__container alert__body">
                <h6>Bạn có chức muốn xóa thông tin phòng ban có mã <span class="get-id-del">{{ departmentCode }}</span> khỏi hệ thống?</h6>
                <div class="alert__btn manager_btn-confirm" >
                    <button class="btn btn--error btn__agree" type="submit" (click)="deleteConfirm()">Xác nhận</button>
                    <button class="btn btn--muted btn__skip" type="submit" (click) = closeConfirmDialog()>Bỏ qua</button>
                </div>
            </div>
        </ng-container>
        <ng-template #deleteContent>
            <div class="manager__container alert__body">
                <h6 >{{ message }}</h6>
                <div class="alert__btn manager_btn-confirm" >
                    <button class="btn btn--error btn__agree" (click) ="closeConfirmDialog()">Xác nhận</button>
                </div>
            </div>
        </ng-template>
        
    </div>
</div>
<!-- end: alert-delete -->

