@import url(../../assets/css/local/admin-manager/training.css);
@import url(../../assets/css/global/public-admin.css);

.pagination {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .page-btn {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .page-info {
    margin: 0 10px;
  }