/* #region : brand-logo*/

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%)
}

.navbar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 calc(24px / 2) 0 0;
    height: 72px;
}

.navbar__container {
    display: flex;
    align-items: center;
}

.navbar__brand {
    display: flex;
    align-items: center;
    /* background: #11101b; */
    flex: 1;
    padding: 0 32px;
    height: 72px;
    width: 252px;
}

.navbar__brand-logo {
    width: 72px;
}

.navigation__brand-title {
    color: #fefefe;
    font-size: 12px;
}


/* #endregion */


/* #region : collapse menu icon*/

.navbar__btn {
    font-size: 22px;
    padding: 0 24px;
    height: 72px;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    color: #636e75;
    border: 0;
    border-radius: 0;
}

.navbar__btn>img {
    height: 22px;
}

.navbar__btn>i {
    font-size: 22px;
}


/* #endregion */


/* #region : navbar search*/

.navbar__search {
    padding: calc(32px / 2) 0;
}

.navbar__search-wrap {
    position: relative;
    padding: 0 32px;
    background-color: #f1f5f7;
    border-radius: 30px;
}

.navbar__search-input {
    background-color: #f1f5f7;
    border: none;
    height: 44px;
    display: block;
    width: 100%;
    padding: 0 16px;
    color: #505d69;
    appearance: none;
}

.navbar__search-input:focus {
    outline: none;
}

.navbar__search-icon {
    position: absolute;
    font-size: 18px;
    line-height: 44px;
    left: 18px;
    top: 0;
    color: #74788d;
}


/* #endregion */


/* #region : list dropdown*/

.navbar__dropdown-btn {
    height: 70px;
    box-shadow: none;
    color: #636e75;
    border: 0;
    border-radius: 0;
    font-size: 24px;
}

.navbar__dropdown-menu {
    display: none;
    -webkit-box-shadow: 0 5px 12px rgb(0 0 0 / 10%);
    box-shadow: 0 5px 12px rgb(0 0 0 / 10%);
    -webkit-animation-name: DropDownSlide;
    animation-name: DropDownSlide;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    margin: 0;
    position: absolute;
    z-index: 10;
}

.dropdown__menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: .9rem;
    color: #505d69;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid rgba(0, 0, 0, .15);
    border-radius: 0.25rem;
}

.user-avatar {
    height: 60px;
    width: 60px;
}

.user-avatar>img {
    border-radius: 50%;
}

.vertical__menu {
    background-color: #11101b;
    width: 252px;
}


/* #endregion */


/* #region : sidebar*/

.leftbar__wrap {
    padding: 12px 0 32px 0;
}

.leftbar {
    position: fixed;
    top: 72px;
    bottom: 0;
    background-color: #11101b;
    width: 252px;
}

.leftbar__title {
    padding: 12px 20px!important;
    letter-spacing: .05em;
    pointer-events: none;
    cursor: default;
    font-size: 13px;
    text-transform: uppercase;
    color: #505d69;
    font-weight: 600;
    opacity: 0.5;
}

.leftbar__item.active {
    border-left: 4px solid rgb(255, 255, 255);
}

.leftbar__item {
    display: flex;
    align-items: center;
    height: 52px;
}

.leftbar__item-separation {
    border-bottom: 1px solid rgb(255, 255, 255);
    border-bottom-width: 50%;
}

.leftbar__item>a {
    display: flex;
    align-items: center;
    font-size: 16px;
    height: 100%;
    width: 100%;
    padding: 12px 24px;
    color: #74788d;
    position: relative;
    -webkit-transition: all .4s;
    font-weight: 500;
}

.leftbar__item>a>i {
    margin-right: 16px;
    min-width: 20px;
}


/* #endregion */


/* #region : page title*/

.main-content {
    background-color: #e5e9ea;
    min-height: 100vh;
    margin-left: 252px;
    margin-top: 28px;
    overflow: hidden;
    padding: 24px 32px;
}

.page__title {
    margin-bottom: 24px;
}

.page__title>h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}


/* #endregion */


/* #region : header table*/

.select__data-lenght {
    color: #505d69;
    display: inline;
    font-size: 14px;
}

.select__data-lenght>label>select {
    padding: 4px 16px;
    outline: none;
    margin-left: 4px;
    margin-right: 4px;
}

.filter__data>label>input {
    padding: 4px 12px;
    margin-left: 0.5em;
    margin-right: 0;
}

.form-control {
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #505d69;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}


/* #endregion */


/* #region : table*/

.table__card {
    margin-bottom: 24px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
    position: relative;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid #f1f5f7;
    border-radius: 0.25rem;
    height: 100vh;
    padding: 24px;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #505d69;
    vertical-align: top;
    border-color: #f0f0f0;
}

.table__data-td.obj__status.active {
    color: #1cbb8c;
    background-color: rgba(28, 187, 140, .18);
    display: inline-block;
    padding: 4px 6px;
    font-size: 13px;
    text-align: center;
    border-radius: 0.25rem;
    margin: 12px 0 0 12px;
}

.table__data-td.obj__status.disable {
    color: #d8163f;
    background: rgba(216, 22, 63, 0.2);
    display: inline-block;
    padding: 4px 6px;
    font-size: 13px;
    text-align: center;
    border-radius: 0.25rem;
    margin: 12px 0 0 12px;
}


/* #endregion */


/* #region : table-data*/

.table__data {
    border-collapse: collapse;
    margin-bottom: 15px;
    clear: both;
    margin-top: 6px;
    max-width: none;
    border-collapse: separate;
    border-spacing: 0;
}

.table__data-th {
    font-weight: 600;
    min-width: 140px;
}

.table>*>*>* {
    padding: 0.75rem 0.75rem;
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.table__data-th,
.table__data-td {
    text-align: left;
}

.table__data-td {
    font-size: 15px;
}

.table__icon {
    font-size: 12px;
    margin: 0 8px;
    cursor: pointer;
}

.table__icon.fa-eye {
    margin: 0 0 0 12px;
}

.table__icon-edit {
    color: #5664d2;
}

.table__icon-delete {
    color: #ff3d60;
}

.table__icon-display {
    color: #4aa3ff;
}


/* #endregion */


/* #region : modal*/

.manager__modal.active,
.manager__alert.active {
    display: flex;
}

.manager__modal,
.manager__alert {
    display: none;
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 20;
    justify-content: center;
}

.manager__modal-content {
    position: absolute;
    top: 120px;
    width: 90%;
    height: 100%;
    max-width: 720px;
    max-height: 440px;
    background-color: #ffff;
    border-radius: 12px;
    padding: 24px 32px;
    z-index: 10;
}

.manager__alert-content {
    position: absolute;
    top: 80px;
    width: 100%;
    height: 100%;
    max-width: 720px;
    max-height: 200px;
    background-color: #ffff;
    border-radius: 12px;
    padding: 24px 32px;
    z-index: 10;
}

.manager__modal-title {
    font-size: 22px;
}

.manager__modal-close {
    font-size: 20px;
    cursor: pointer;
}

.manager__container.modal__header {
    justify-content: space-between;
    align-items: center;
}

.manager__container.modal__body {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.manager__container.alert__body {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.manager__modal-content.delete-modal .manager__container.modal__body {
    margin-top: 16px;
}

.manager_btn-confirm {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* #endregion */


/* #region : modal-form*/

.form {
    width: 100%;
}

.form__item {
    margin-bottom: 32px;
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
}

.form__label {
    font-size: 16px;
    font-weight: 600;
    display: block;
    width: 20%;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.47rem 0.75rem;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}


/* #endregion */


/* #region : modal-input*/

body {
    position: relative;
}

.form__input-date,
.form__input-sex,
.form__input-status,
.form__input-phone {
    flex: 1;
}

.form__label.label__status {
    margin-right: 10px;
}

.form__input-id {
    cursor: no-drop;
}

.form__input-status {
    cursor: pointer;
}

.input__option {
    width: 100%;
    min-height: 40px;
    display: flex;
    align-items: center;
    color: #fefefe;
    padding: 0 12px;
    transition: 0.3s;
    cursor: pointer;
}

.input__option:not(:last-child) {
    border-bottom: 1px solid #ffff;
}

.input__option:hover {
    background-color: #11101b;
}

.form__input-select {
    width: 100%;
}

.form__input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #d3d8de;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form__input-disable {
    background-color: #e9ecef;
    opacity: 1;
    cursor: no-drop;
}

.form__input--error {
    border-color: #f46a6a;
}

.input__select {
    position: relative;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* overflow: hidden; */
}

.input__select.disabled {
    overflow: hidden;
}

.input__select-value {
    position: absolute;
    left: 12px;
    top: 12px;
    cursor: pointer;
}

.input__select-icon {
    position: absolute;
    right: 12px;
    top: 12px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.input__select-icon>i {
    font-size: 8px;
}


.input__list-option.list-option__normal {
    height: auto;
    overflow: unset;
}


/* #endregion */


/* #region : alert-delete*/

.alert__body>h6 {
    border-top: 1px solid #495057;
    padding: 20px 0;
    font-size: 15px;
}

.alert__body>h6>span {
    color: #ff3d60;
}


/* #endregion */


/* #region : alert-validate*/

.manager__modal-alert {
    position: fixed;
    top: 20px;
    right: 0;
    z-index: 10;
}

.manager__modal-alert__item {
    z-index: 15;
    height: 72px;
    width: 280px;
    background-color: #ffff;
    display: flex;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-bottom: 12px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    display: none;
}

.manager__modal-alert__item.active {
    display: flex;
}

.alert__item-icon {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.alert__item-icon>i {
    text-align: center;
    line-height: 72px;
    height: 100%;
    width: 100%;
    font-size: 24px;
    color: #ffff;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.alert__item-content {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
    font-size: 14px;
}

.alert__item-close {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 0 12px;
    cursor: pointer;
}

.alert--danger {
    background-color: rgba(220, 38, 38, 1);
}

.alert--success {
    background-color: rgb(22, 163, 74);
}

.alert__item-close>i {
    text-align: center;
    line-height: 72px;
    height: 100%;
    width: 100%;
    font-size: 20px;
    color: #ced4da;
}


/* #endregion */


/* #region : tooltip*/

.obj__desc {
    position: relative;
}

.tooltip__desc {
    position: absolute;
    top: 36px;
    left: -30%;
    min-height: 60px;
    min-width: 200px;
    background-color: #4aa3ff;
    color: #ffff;
    display: none;
    z-index: 15;
    border-radius: 8px;
    padding: 12px 16px;
    text-align: justify;
}


/* #endregion */


/* #region : btn*/

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #505d69;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.47rem 0.75rem;
    border-radius: 0.25rem;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.alert__btn .btn {
    width: 92px;
}

.btn--success {
    color: #fff;
    background-color: #1cbb8c;
    border-color: #1cbb8c;
}

.btn--error {
    color: #fff;
    background-color: #F32424;
    border-color: #F32424;
}

.btn--muted {
    color: #7F8487;
    background-color: #fff;
    border-color: #7F8487;
}

.add__btn>a>i {
    margin-right: 4px;
}

.btn--update {
    display: none;
}

.btn--primary {
    color: #fff;
    background-color: #5b73e8;
    border-color: #5b73e8;
    align-self: center;
}

.btn--primary:hover {
    color: #fff;
    background-color: #4d62c5;
    border-color: #495cba;
}


/* #endregion */


/* #region : Container*/

.manager__container {
    display: flex;
}

.manager__container.control-data {
    margin-top: 16px;
    align-items: center;
    justify-content: space-between;
    color: #505d69;
    font-size: 14px;
}

.manager__container.table-data {
    margin-top: 16px;
}

.container__2 {
    gap: 32px;
}

.container__2>* {
    width: 50%;
}

.manager__container.container__2 .form__label {
    width: 34%;
}


/* #endregion */


/* #region : effect*/

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.scale-down-center {
    -webkit-animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-down-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.rotate-center {
    -webkit-animation: rotate-center 0.6s ease-in-out both;
    animation: rotate-center 0.6s ease-in-out both;
}

.open {
    -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.close {
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        display: none;
        opacity: 0.9;
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        display: block;
        opacity: 1;
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        display: none;
        opacity: 0.9;
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        display: block;
        opacity: 1;
    }
}

@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        display: block;
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        display: none;
        opacity: 0.9;
    }
}

@keyframes slide-left {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        display: block;
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        display: none;
        opacity: 0.9;
    }
}

@keyframes scale-down-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* #endregion */


/* #region : Reponsive*/

@media only screen and (max-width: 1390px) {
    .leftbar__item>a>p {
        display: none;
    }
    .leftbar {
        width: 80px;
    }
    .leftbar__title {
        display: none;
    }
    .main-content {
        margin-left: 80px;
    }
    .navbar__brand {
        padding: 0 8px;
        width: 80px;
    }
    .navbar__brand-logo {
        width: 72px;
    }
    .navigation__brand-title {
        display: none;
    }
}

@media only screen and (max-width: 1010px) {
    .manager__container.table-data {
        overflow-x: scroll;
    }
}

@media only screen and (max-width: 760px) {
    .manager__container.control-data {
        flex-direction: column;
        align-items: flex-start;
    }
    .manager__container.control-data>* {
        margin: 12px 0;
    }
}


/* #endregion */