<!-- begin: header -->
<header class="header">
    <div class="navbar__header">
        <div class="navbar__container">
            <!-- brand -->
            <div class="navbar__brand">
                <img class="img-cover-center" src="https://aiacademy.edu.vn/assets/images/logo.jpg" alt="logo-it-utehy" style="width: 80%;">

                <!-- <a class="navigation__brand-title" href="../index.html">
                    <h1>AIACADEMY</h1>
                </a> -->
            </div>

            <!-- collapse leftbar icon -->
            <button type="button" class="btn navbar__btn waves-effect">
                <i class="fa-solid fa-align-left"></i>
            </button>
            
            <!-- search form-->
            <form class="navbar__search">
                <div class="navbar__search-wrap">
                    <input type="text" class="navbar__search-input" placeholder="Tìm kiếm...">
                    <span class="navbar__search-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>
            </form>
        </div>

        <div class="navbar__container">
            <!-- navbar__dropdown -->
            <div class="navbar__dropdown">
                <button type="button" class="btn navbar__btn waves-effect navbar__dropdown-btn" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="" src="assets/image/country/local.png" alt="Header Language">
                </button>
            </div>

            <div class="navbar__dropdown">
                <button type="button" class="btn waves-effect navbar__dropdown-btn" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="far fa-bookmark"></i>
                </button>
            </div>

            <div class="navbar__dropdown">
                <button type="button" class="btn waves-effect navbar__dropdown-btn user-avatar" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="img-cover-center" src="assets/image/user/user1.jpg" alt="Header Avatar">
                </button>
            </div>
        </div>
    </div>
</header>
<!-- end: header -->
