.manager__modal-content {
    position: absolute;
    top: 80px;
    width: 90%;
    height: 100%;
    max-width: 720px;
    max-height: 500px;
    background-color: #ffff;
    border-radius: 12px;
    padding: 24px 32px;
    z-index: 10;
}