/* #region : training*/

.manager__modal-content {
    position: absolute;
    top: 120px;
    width: 90%;
    height: 100%;
    max-width: 720px;
    max-height: 440px;
    background-color: #ffff;
    border-radius: 12px;
    padding: 24px 32px;
    z-index: 10;
}

.input__list-option {
    display: none;
    background-color: #495cba;
    position: absolute;
    top: 44px;
    width: 100%;
    /* height: 80px; */
    z-index: 5;
}

.d-block{
    display: block !important;
}

.d-none{
    display: none;
}

/* #endregion */