<!-- begin: content -->
<div class="main-content">
    <div class="page__title">
        <h4>QUẢN LÝ Hợp Đồng</h4>
    </div>

    <section class="firts-section">
        <div class="training">
            <div class="table__card">
                <div class="manager__container" style="justify-content: space-between;">
                    <div class="add__btn">
                        <a class="btn btn--success" (click) ="showModal('create')"><i class="fa-solid fa-plus"></i>Thêm hợp đồng</a>
                    </div>
                    <div class="add__btn" >
                        <input #fileInput type="file" name="file " id="file" (change)="handleFileInput($event)" style="display: none">
                        <a (click)="fileInput.click()" class="btn btn--success" style="margin-right: 24px;"><i class="fa-solid fa-plus"></i>Import File</a>
                        <a class="btn btn--success" (click) ="export()"><i class="fa-solid fa-plus"></i>Export File</a>
                    </div>
                </div>

                <div class="manager__container control-data">
                    <div class="select__data-lenght">
                        <label>Hiển thị 
                            <select class="form-control">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select> bản ghi
                        </label>
                    </div>

                    <div class="filter__data">
                        <label>Tìm kiếm:
                            <input type="search" class="form-control" name="searchKeyWord" [(ngModel)]="searchKeyWord" (change)="search()" placeholder="" aria-controls="DataTables_Table_0">
                        </label>
                    </div>
                </div>

                <div class="manager__container table-data" style="overflow: auto;">
                    <table class="table table__data">
                        <thead>
                            <tr class="table__data-tr">
                                <th class="table__data-th">STT</th>
                                <th class="table__data-th obj__id" rowspan="1" colspan="1">Mã hợp đồng</th>
                                <th class="table__data-th obj__name" rowspan="1" colspan="1" style="min-width: 250px;">Tên hợp đồng</th>
                                <th class="table__data-th obj__name" rowspan="1" colspan="1">Ngày ký hợp đồng</th>
                                <th class="table__data-th obj__name" rowspan="1" colspan="1">Ngày kết thúc hợp đồng</th>
                                <!-- <th class="table__data-th obj__name" rowspan="1" colspan="1">Thời hạn</th> -->
                                <th class="table__data-th obj__name" rowspan="1" colspan="1">Mã nhân viên</th>
                                <th class="table__data-th obj__name" rowspan="1" colspan="1">Tên nhân viên</th>
                                <th class="table__data-th obj__des" rowspan="1" colspan="1">Hệ số lương</th>
                                <th class="table__data-th obj__des" rowspan="1" colspan="1">Lương cơ bản</th>
                                <th class="table__data-th obj__act" rowspan="1" colspan="1">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of data.data; let i = index" class="table__data-tr" (dblclick) ="editContract(item.Id)">
                                <td class="table__data-td">{{i +1}}</td>
                                <td class="table__data-td">{{item.ContractCode}}</td>
                                <td class="table__data-td">{{item.ContractName}}</td>
                                <td class="table__data-td">{{formatDate(item.ContractStartDate)}}</td>
                                <td class="table__data-td">{{formatDate(item.ContractEndDate)}}</td>
                                <!-- <td class="table__data-td">{{item.ContractTerm}} tháng</td> -->
                                <td class="table__data-td">{{item.EmployeeCode}}</td>
                                <td class="table__data-td">{{item.EmployeeName}}</td>
                                <td class="table__data-td">{{item.SalaryCoefficient}}</td>
                                <td class="table__data-td">{{item.SalaryBasic | currency:'VND':'symbol':'1.0-0'}}</td>
                                <td class="table__data-td">
                                    <button class="edit__btn" (click)="editContract(item.Id)" style="background-color: transparent; border: none;"><i class="table__icon table__icon-edit fas fa-pen"></i></button>
                                    <a class="delete__btn" (click) ="delete(item.Id, item.ContractCode)"><i class="table__icon table__icon-delete fas fa-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pagination">
                    <button class="page-btn" [disabled]="pageIndex === 1" (click)="onPageChange(pageIndex - 1)">Previous</button>
                    <span class="page-info">{{pageIndex}} / {{totalPages}}</span>
                    <button class="page-btn" [disabled]="pageIndex === totalPages" (click)="onPageChange(pageIndex + 1)">Next</button>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- end: content -->

<!-- begin: modal -->
<div class="manager__modal">
    <!-- begin: modal-content -->
    <div class="manager__modal-content" style="overflow: auto;">
        <div class="manager__container modal__header">
            <div class="manager__modal-title">
                <h5>Nhập Thông Tin Hợp Đồng</h5>
            </div>

            <div class="manager__modal-close" (click) = "closeModal()">
                <i class="fas fa-times"></i>
            </div>
        </div>

        <div class="manager__container modal__body">
            <form class="form" action="#" >
                <ng-container *ngIf="modalType === 'create'; else updateContent">
                    <div class="form__item">
                        <label class="form__label">Mã hợp đồng</label>
                        <input type="text" class="form__input " name="ContractCode" required  [(ngModel)]="ContractCode">
                    </div>
                    <div class="form__item">
                        <label class="form__label">Tên hợp đồng</label>
                        <input type="text" class="form__input form__input-name" name="ContractName"  [(ngModel)]="ContractName">
                    </div>
                    <div class="form__item">
                        <label class="form__label">Ngày ký hợp đồng</label>
                        <input type="date" class="form__input form__input-desc form__input--desc" name="ContractStartDate"  [(ngModel)]="ContractStartDate">
                    </div>
                    <div class="form__item">
                        <label class="form__label">Ngày kết thúc hợp đồng</label>
                        <input type="date" class="form__input form__input-desc form__input--desc" name="ContractEndDate"  [(ngModel)]="ContractEndDate">
                    </div>
                    <div class="form__item">
                        <label class="form__label">Thời hạn</label>
                        <input type="text" class="form__input form__input-desc form__input--desc" name="ContractTerm" [(ngModel)]="ContractTerm">
                    </div>
                    <div class="form__item">
                        <label class="form__label">Hệ số lương</label>
                        <input type="text" class="form__input form__input-desc form__input--desc" name="SalaryCoefficient" [(ngModel)]="SalaryCoefficient">
                    </div>
                    <div class="form__item">
                        <label class="form__label">Lương cơ bản</label>
                        <input type="text" class="form__input form__input-desc form__input--desc" name="SalaryBasic" [(ngModel)]="SalaryBasic">
                    </div>
                    <div class="form__item">
                        <label class="form__label">Nhân viên</label>
                        <select class="form__input form__input-desc form__input--desc" name="Contract_Employee_id" [(ngModel)]="Contract_Employee_id">
                            <option class="input__select-value form__input-select" selected>Vui lòng chọn nhân viên</option>
                            <option *ngFor="let item of dataDropdown" [value]="item.Id">{{ item.EmployeeName }}</option>                       
                        </select>
                    </div>

                </ng-container>
                <ng-template #updateContent>
                    <div class="form__item">
                        <label class="form__label">Mã nhân viên</label>
                        <input type="text" class="form__input " name="ContractCode" required  [(ngModel)]="fomartDataApiId.ContractCode">
                    </div>
                    <div class="form__item">
                        <label class="form__label">Tên nhân viên</label>
                        <input type="text" class="form__input form__input-name" name="ContractName"  [(ngModel)]="fomartDataApiId.ContractName">
                    </div>
                    <div class="form__item">
                        <label class="form__label">Ngày ký hợp đồng</label>
                        <input type="date" class="form__input form__input-desc form__input--desc" name="ContractStartDate"  [(ngModel)]="fomartDataApiId.ContractStartDate">
                    </div>
                    <div class="form__item">
                        <label class="form__label">Ngày kết thúc hợp đồng</label>
                        <input type="date" class="form__input form__input-desc form__input--desc" name="ContractEndDate"  [(ngModel)]="fomartDataApiId.ContractEndDate">
                    </div>
                    <div class="form__item">
                        <label class="form__label">Thời hạn</label>
                        <input type="text" class="form__input form__input-desc form__input--desc" name="ContractTerm" [(ngModel)]="fomartDataApiId.ContractTerm">
                    </div>
                    <div class="form__item">
                        <label class="form__label">Hệ số lương</label>
                        <input type="text" class="form__input form__input-desc form__input--desc" name="SalaryCoefficient" [(ngModel)]="fomartDataApiId.SalaryCoefficient">
                    </div>
                    <div class="form__item">
                        <label class="form__label">Lương cơ bản</label>
                        <input type="text" class="form__input form__input-desc form__input--desc" name="SalaryBasic" [(ngModel)]="fomartDataApiId.SalaryBasic">
                    </div>
                    <div class="form__item">
                        <label class="form__label">Nhân viên</label>
                        <select class="form__input form__input-desc form__input--desc" name="Contract_Employee_id" [(ngModel)]="fomartDataApiId.Contract_Employee_id">
                            <option class="input__select-value form__input-select" selected>Vui lòng chọn nhân viên</option>
                            <option *ngFor="let item of dataDropdown" [value]="item.Id">{{ item.EmployeeName }}</option>                       
                        </select>
                    </div>
                </ng-template>
                
                
                <button class="btn btn--primary btn--submit" type="submit" (click) ="submitForm()">
                    {{ modalType === 'create' ? 'Xác nhận' : 'Cập nhật' }}
                </button>
            </form>
            <input class="get-index" type="hidden" value="">
        </div>
    </div>
    <!-- end: modal-content --> 
</div>
<!-- end: modal -->

<!-- begin: alert-delete -->
<div class="manager__alert" >
    <div class="manager__alert-content" >
        <div class="manager__container modal__header">
            <div class="manager__modal-title">
                <h5>THÔNG BÁO</h5>
            </div>

            <div class="manager__modal-close" (click) ="closeConfirmDialog()">
                <i class="fas fa-times"></i>
            </div>
        </div>

        <ng-container *ngIf="modelTypeMessage === 'delete'; else deleteContent">
            <div class="manager__container alert__body">
                <h6>Bạn có chức muốn xóa thông tin hợp đồng có mã <span class="get-id-del">{{ code }}</span> khỏi hệ thống?</h6>
                <div class="alert__btn manager_btn-confirm" >
                    <button class="btn btn--error btn__agree" type="submit" (click)="deleteConfirm()">Xác nhận</button>
                    <button class="btn btn--muted btn__skip" type="submit" (click) = closeConfirmDialog()>Bỏ qua</button>
                </div>
            </div>
        </ng-container>
        <ng-template #deleteContent>
            <div class="manager__container alert__body">
                <h6 >{{ message }}</h6>
                <div class="alert__btn manager_btn-confirm" >
                    <button class="btn btn--error btn__agree" (click) ="closeConfirmDialog()">Xác nhận</button>
                </div>
            </div>
        </ng-template>
        
    </div>
</div>
<!-- end: alert-delete -->





